.credentials-page {
    width: 77%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.credentials-page section {
    display: flex;
    justify-content: space-between;
}

.add-new {
    display: flex;
    align-items: center;
    border-radius: 7px;
    background-color :rgb(0, 139, 109);
    padding-right: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.add-new:hover {
    background-color: var(--color-confirm-2);
}

.my-account {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    border-radius: 7px;
    cursor: pointer;
}

.my-account:hover {
    background-color: var(--color-light-shades-2);
}

.credentials-page table {
    margin: 4rem 0;
    border-spacing: 0;
}

.credentials-page td, th{
    border-bottom: 1px solid var(--color-light-shades-4);
}

.credentials-page tr:hover td{
    background-color: var(--color-light-shades-1);
}

.credentials-page th {
    padding: 1rem 0;
    text-align: left;
    font-size: 0.6rem;
    color: var(--color-light-shades-5);
}

.credentials-page td {
    padding: 1rem 0;
}

.credentials-page td input {
    width: 100%;
}