.login-bg {
  /* background-color: var(--color-dialog-bg); */
  /* padding: 0rem 0 0; */
  /* height: 100vh; */
}

.login-box {
  background-color: var(--color-dialog);
  max-width: 28rem;
  border-radius: 20px;
  margin: auto;
}

.header-bg {
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #00c3ff 39%,
    #726dff 51%,
    #ff6de9 63%,
    #ff345d 89%,
    #970fff 100%
  );
  height: 45px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.login-base {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-base-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--color-light-shades-8);
}

.login-base-heading h1 {
  font-weight: 400;
  font-size: 2rem;
}

.cross-btn {
  background-color: var(--color-dialog-bg);
  padding: 0.7rem;
  padding-bottom: 0.4rem;
  border-radius: 100%;
  font-size: 20px;
  cursor: pointer;
  color: var(--color-light-shades-8);
}

.cross-btn:hover {
  background-color: var(--color-dialog);
}

.login-base-content {
  display: flex;
  flex-direction: column;
}

.continue-google-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  background-color: #4285f4;
  border-radius: 3px;
  height: 2.5rem;
}

.continue-google-box img {
  width: 2.5rem;
  border-radius: 3px;
  background-color: var(--color-accent);
  border: 6px solid var(--color-accent);
}

.continue-google-box div {
  text-align: center;
  width: 100%;
  color: var(--color-light-shades-8);
}

.or {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.or span {
  padding: 2rem 0.5rem;
  color: var(--color-light-shades-8);
}

.hr-line {
  width: 100%;
  border: 1px solid var(--color-light-shades-3);
}

.login-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.terms-conditions {
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
  color: var(--color-light-shades-6);
}

.terms-conditions a {
  color: var(--color-light-shades-7);
  text-decoration: none;
}

.terms-conditions a:hover {
  text-decoration: underline;
}

.features {
  padding-top: 1.25rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.features div {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.features .tick {
  fill: var(--color-light-shades-4);
  font-size: 25px;
}

.features span {
  color: var(--color-light-shades-4);
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .login-box {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .header-bg {
    height: 5rem;
  }

  .login-base {
    height: 100%;
  }

  .cross-btn {
    position: relative;
    bottom: 5.5rem;
  }

  .features .tick {
    font-size: 14px;
  }

  .features span {
    font-size: 12px;
  }
}
