.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scroll-down-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
}

.scroll-down-btn {
  position: relative;
  animation: jump 1.25s infinite;
  fill: var(--color-light-shades-8);
  font-size: 3rem;
  cursor: pointer;
  /* margin: 0 auto; */
}

@keyframes jump {
  0% {
    top: 0px;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 0px;
  }
}
