.login-box {
  /* animation: pop-up 1s ease 2s 1 alternate; */
}

.signup-box {
  /* animation: pop-up 1s ease 2s 1 alternate; */
}

.login-box, .register-box,
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-input-box {
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid var(--color-light-shades-5);
  background-color: transparent;
  margin-bottom: 10px;
  font-size: 1rem;
  color: var(--color-accent);
}

.form-input-box:active,
.form-input-box:hover,
.form-input-box:focus {
  border: 1px solid var(--color-light-shades-7);
  outline: none;
}

.forgot-pwd {
    color: var(--color-light-shades-6);
    align-self: flex-end;
    font-size: 12px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.forgot-pwd:hover {
    color: var(--color-light-shades-8);
}

.submit-btn {
  all: unset;
  cursor: pointer;
  padding: 1rem;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  background-color: var(--color-light-shades-3);
  color: var(--color-light-shades-8);
  margin-top: 1rem;
}

.submit-btn:hover {
  background-color: var(--color-light-shades-4);
}

.login-signup-form {
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    color: var(--color-light-shades-6);
}

@media only screen and (max-width: 500px) {
    .form-input-box, .submit-btn {
        padding: 0.75rem;
    }
}