@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

.nav-container {
  position: fixed;
  background-color: transparent;
  backdrop-filter: blur(8px);
  z-index: 1;
}

.nav-container,
.nav-item-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav-item-list {
  height: 100%;
  padding: 0rem 0;
}

.lockmaster-logo-container {
  width: fit-content;
  font-family: "Dancing Script", cursive;
  font-size: 3.5rem;
  font-weight: 700;
  cursor: pointer;
  padding: 0 0.28rem;
  background: -webkit-linear-gradient(
    45deg,
    #fa8bff 0%,
    #00c3ff 39%,
    #726dff 51%,
    #ff6de9 63%,
    #ff345d 89%,
    #970fff 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-box {
  width: 100%;
  height: 100%;
}


.search-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.25rem;
  color: var(--color-light-shades-alpha-8);
}

.search-box input::placeholder {
  font-family: "Dancing Script", cursive;
  font-size: 1.85rem;
  text-align: center;
}

.hamburger {
  padding: 1rem;
  border-radius: 100%;
  display: none;
}

@media only screen and (max-width: 900px) {
  .nav-container {
    justify-content: space-between;
  }
  .lockmaster-logo-container {
    font-size: 2.25rem;
  }

  .hamburger {
    display: block;
  }

  .nav-item-list {
    display: none;
  }

  .show-nav-item-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5.5rem;
    right: 1.5rem;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    background-color: var(--color-light-shades-2);
    border-radius: 1rem;
    z-index: 2;
  }

  .nav-item {
    width: 100%;
    border-radius: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  .search-box {
    width: 17rem;
  }
  .search-box input::placeholder {
    font-size: 1.5rem;
  }
}
